
<!-- <link rel="stylesheet" href="/jquery/dist/jquery.js">
    <link rel="stylesheet" href="/bootstrap/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="/js/custom.js"> -->
    <script src="/axios/dist/axios.min.js"></script>
    <script src="/jquery/dist/jquery.js"> </script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"> </script>
    <script src="/js/main.js"> </script>
</body>
</html>